.header {
  height: 100%;
}
.ad {
  height: 30px;
  width: 100%;
  background-image: url(../../public/image/top-bannerr-al.webp);
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
}
